header {
  margin-bottom: 64px;
}
h1 {
  font-size: 48px;
  color: #473e3e;
  margin: 0;
}
#description {
  margin: 12px;
}
a {
  padding: 12px 48px;
  background-color: #a7014e;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 4px;
  font-size: 24px;
  display: inline-block;
  margin: 0;
}
a:hover {
  background-color: #b40c5a;
  text-decoration: none;
}
