header {
  margin-bottom: 64px;
}
h1 {
  font-size: 48px;
  color: #473e3e;
  margin: 0;
}
#description {
  margin: 12px;
}
a {
  padding: 12px 48px;
  background-color: #a7014e;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 4px;
  font-size: 24px;
  display: inline-block;
  margin: 0;
}
a:hover {
  background-color: #b40c5a;
  text-decoration: none;
}
ol {
  list-style: none;
  width: 500px;
  margin: 36px auto 0 auto;
  padding: 0;
}
li {
  padding: 16px;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.2);
  margin: 32px;
  background-color: #df887c;
  border-radius: 6px;
}
h2 {
  color: #4e0d05;
  font-family: "Oswald", sans-serif;
}
