@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&family=Oswald:wght@700&display=swap");
body {
  background-color: #e9d7cf;
  text-align: center;
  color: #534b4b;
}
h1 {
  font-family: "Oswald", sans-serif;
}
