main {
  width: 800px;
  margin: 125px auto 72px auto;
  background-color: #db6c5e;
  padding: 24px;
  border: 5px solid black;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
}
img {
  height: 200px;
  border-radius: 100px;
  border: 5px solid black;
  margin-top: -134px;
}
h1 {
  font-size: 30px;
  color: black;
}
a {
  color: #491d32;
}
span {
  color: #4b3b3b;
}
#todays-challenge {
  color: #aa6053;
  font-weight: bold;
  font-size: 52px;
}
