body {
  margin: 50px;
}
img {
  height: 200px;
  border-radius: 100px;
  border: 5px solid black;
}
h1 {
  font-size: 30px;
  color: black;
}
#todays-challenge {
  color: #aa6053;
  font-weight: bold;
  font-size: 52px;
}
