@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&family=Oswald:wght@700&display=swap");
body {
  background-color: #e9d7cf;
  text-align: center;
  color: #534b4b;
}
img {
  height: 200px;
  border-radius: 100px;
}
h1 {
  font-family: "Oswald", sans-serif;
}
p {
  font-family: "Fira Sans", sans-serif;
}
#todays-challenge {
  color: #aa6053;
  font-weight: bold;
  font-size: 52px;
}
a {
  color: #a7014e;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
